.album-header{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("https://scontent-sof1-2.xx.fbcdn.net/v/t39.30808-6/349893237_640837921285929_4447190966874827428_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=f55JRHfjzSAAX9KwYXi&_nc_ht=scontent-sof1-2.xx&oh=00_AfCN1V0Mpo14LJhqvJxtZxhKcJ-SwoB2kJeanUH_ovcsqA&oe=6490B53B");
}
