.p-c-header{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/pk-img-18.jpeg");
}

.fa-play{
    position: absolute;
}


.center-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}